<mat-toolbar color="primary" style="min-height: 50px; height: 50px;">
  <mat-toolbar-row>
    <button mat-icon-button (click)="onClickSideBar()" name="toggle-menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Minecraft Server discovery tool</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="main-container" [hasBackdrop]="!isMenuPinned" autosize>
  <mat-drawer [mode]="getMenuMode()" [disableClose]="isMenuPinned" [(opened)]="isMenuOpen" name="side-menu-drawer">
    <app-side-menu-bar [pinned]="isMenuPinned" (pinnedChange)="onPinnedChange($event)"></app-side-menu-bar>
  </mat-drawer>

  <div class="main-content">
    <div class="main-content-page" name="main-content-page">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
