.menu-top-container {
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;

    .menu-lower-container {
        flex: 1;
        display: flex;
        flex-direction: column;

        .menu-title {
            text-align: center;
        }

        .main-options {
            padding-top: 30px;
            width: 100%;

            .menu-option-button {
                width: 100%;
                text-align: left;
                margin-top: 3px
            }
        }

        .content-filler {
            flex: 1;
        }
    }

    .session-buttons {
        height: 50px;

        :not(:only-child) {
            width: 50%;
        }

        .session-button {
            height: 100%;
        }
    }
}
